* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    padding-inline: 350px;
    margin: auto;
}

header {
    padding-top: 30px;
    text-align: center;
}

h1 {
    color: aliceblue;
    background-color: gray;
    text-align: center;
}

header p {
    padding-block: 10px;
}

header section {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 80px;
}

header ul {
    list-style: none;
}

h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    text-decoration: gray overline underline;
    color: gray;
    background-color: aliceblue;
    text-align: center;
}

main p {
    margin: 10px;
}

main ul {
    padding-left: 35px;
}

.hexa {
    color: #ff1493;
    background-color: #ffb6c18a;
    width: 660px;
}

.rgb {
    color: rgb(0, 255, 255);
    background-color: rgba(0, 206, 209, 0.596);
    width: 785px;
}

.hsl {
    color: hsl(120, 100%, 25%);
    background-color: hsl(120, 60%, 70%, 0.5);
    width: 825px;
}

.name {
    color: gray;
    background-color: yellow;
    width: 430px;
}

.chave {
    color: red;
    border: 3px solid currentColor;
    padding: 3px;
}

article {
    display: flex;
    align-items: baseline;
    gap: 10px;
}
